/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 5px 5px;
    position: sticky; /* Keeps the navbar fixed at the top when scrolling */
    top: 0;
    z-index: 500;
}
.nav-links {
    list-style: none; /* Removes bullets */
    display: flex;
    gap: 15px;
}